.card {
  --id: 2;
  font-size: 1.066rem;
}

.img {
  display: block;
  width: 100%;
  height: 21.3rem;
  object-fit: cover;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}

.content {
  background-color: var(--cream);
  text-align: center;
  padding: 2.13rem 2rem;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  display: grid;
  place-content: center;
}

.title {
  color: var(--peach);
  font-weight: 500;
  font-size: 1.25em;
  letter-spacing: 0.25em;
  text-transform: uppercase;
  margin-bottom: 1.06rem;
}

.body {
  color: var(--dark);
}

@media (min-width: 768px) {
  .card {
    display: flex;
    height: 20.6rem;
  }

  .img {
    border-radius: 0px;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
  }
  .content {
    border-radius: 0px;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
  }
  .content,
  .img {
    width: 50%;
  }
}
