.block-row-2 {
  list-style: none;
  padding-left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 3.2rem;
}

@media (min-width: 1200px) {
  .block-row-2 {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
}
