.btn {
  --id: 1;

  font-family: inherit;
  padding: 1.13rem 1.5rem;
  background-color: white;
  border-radius: 0.5rem;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 1rem;
  text-decoration: none;
  display: block;
  width: 10.13rem;
  color: var(--dark);
  text-align: center;
  border: none;
}

.btn--peach {
  color: white;
  background-color: var(--peach);
}
