.header {
  --id: 1; 

  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 2.33rem;
  padding-bottom: 2.33rem;
}


.nav 
{
    display: none;
}

.mobile-nav-btn {
    background: none;
    border:none;
}

.mobile-nav-btn .icon-close 
{
    display: none;
}