.about {
  --id: 1;
  position: relative;
}

.row-40-50--hero {
  margin-bottom: 8rem;
}

@media (min-width: 1200px) {
  .row-40-50--hero {
    margin-bottom: 10.6rem;
  }
}

.locations-section {
  padding: 8rem 0;
}

@media (min-width: 1200px) {
  .locations-section {
    padding: 10.6rem 0;
  }
}

.cta-wrapper {
  margin-top: 8rem;
}

@media (min-width: 1200px) {
  .cta-wrapper {
    margin-top: 10.6rem;
  }
}
