.text-block {

  font-size: 1.06rem;
  opacity: 50%;
  display: flex;
  flex-direction: column;
  row-gap: 0.2rem;
}
.text-block--full-opacity {
  opacity: 100%;
}

.text-block__title {
  font-size: 1em;
}
.text-block__line {
  display: block;
}
