.input-block {
  position: relative;
  font-size: 1rem;
}

.input-block__input {
  background: none;
  border: none;
  border-bottom: 1px solid white;
  width: 100%;
  padding: 1.6rem 0.91rem 0.73rem;
  color: white;
  outline: none;
}

.input-block__textareainput {
  height: 8.4rem;
}

.input-block__input::placeholder {
  color: white;
  opacity: 50%;
}

.input-block__error {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0px;
  display: flex;
  align-items: center;
  column-gap: 0.6rem;
  opacity: 0%;
  pointer-events: none;
  transition: opacity 300ms;
}

.input-block .input-block__error--active {
  opacity: 100%;
}

.input-block__error__text {
  font-style: italic;
  font-size: 0.8em;
}
