.hero {
  --id: 1;

  background-color: var(--peach);
  color: white;
  text-align: center;
  font-size: 1rem;
  padding-left: 1.6rem;
  padding-right: 1.6rem;
  padding-top: 5.33rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  position: relative;
  background-image: url('/img/home/desktop/bg-pattern-hero-home.svg');
  background-position: right -1rem top 7rem;
  background-repeat: no-repeat;
  max-width: min(100%, 44.9rem);
  border-radius: 0px;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.title {
  font-size: 2.13em;
  line-height: 1.125;
  margin-bottom: 0.93rem;
  width: min(100%, 38.2rem);
  --break: width;
}

.body {
  line-height: 1.6;
  margin-bottom: 1.6rem;
  width: 100%;
}

.btn {
  margin: 0 auto;
}
.img-wrapper {
  margin-top: -5rem;
  width: 100%;
  display: flex;
  justify-content: center;
  overflow: visible;
  margin-bottom: -26em;
}

.img {
  display: block;
  width: auto;
  max-width: none;
}

@media (min-width: 768px) {
  .hero {
    padding-top: 4rem;
    background-position-x: 15rem;
    border-radius: 1rem;
    max-width: unset;
    padding-left: 3.86rem;
    padding-right: 3.86rem;
  }

  .title {
    font-size: 3.2em;
    margin-bottom: 0.53rem;
    width: 38.2rem;
  }

  .body {
    font-size: 1.06em;
    margin-bottom: 1.26rem;
    width: 29.6rem;
  }

  .btn {
    margin-bottom: -1rem;
  }

  .img-wrapper {
    margin-top: min(-6.3rem);
  }
}

@media (min-width: 1200px) {
  .hero {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
    text-align: left;
    padding-top: 9.66rem;
    background-position: 34rem 0rem;
    padding-bottom: 9.6rem;
    padding-left: 6.33rem;
    padding-right: 6.33rem;
  }
  .content {
    margin-top: 0;
    align-items: start;
  }

  .btn {
    margin-left: 0;
  }

  .title {
    margin-bottom: 0.73rem;
  }

  .body {
    margin-bottom: 2.66rem;
  }

  .img-wrapper {
    margin-top: -12rem;
    margin-left: -15rem;
  }
}

@media (min-width: 1440px) {
  .img-wrapper {
    margin-left: -5rem;
  }
}
