.card {
  --id: 2;
  font-size: 1.066rem;
}

.img {
  display: block;
  width: min(100%);
  height: min(21.3rem);
  object-fit: cover;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}

.content {
  background-color: var(--cream);
  text-align: center;
  padding: 2.13rem 2rem;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  display: grid;
  place-content: center;
  transition: background-color 300ms;
}

.card:active .content,
.card:hover .content {
  background-color: var(--peach);
}
.title {
  color: var(--peach);
  font-weight: 500;
  font-size: 1.25em;
  letter-spacing: 0.25em;
  text-transform: uppercase;
  margin-bottom: 1.06rem;
  transition: color 300ms;
}

.body {
  color: var(--dark);
  transition: color 300ms;
}

.card:active .title,
.card:active .body,
.card:hover .title,
.card:hover .body {
  color: white;
}

@media (min-width: 768px) {
  .card {
    display: flex;
    height: 20.6rem;
  }

  .img {
    border-radius: 0px;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
  }
  .content {
    border-radius: 0px;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
    padding-left: 2.13rem;
    padding-right: 2.13rem;
  }
  .content,
  .img {
    width: 50%;
    height: 100%;
  }

  .title {
    font-size: 1.33em;
  }
}

@media (min-width: 1200px) {
  .card {
    flex-direction: column;
    height: auto;
    border-radius: 1rem;
  }

  .content,
  .img {
    width: 100%;
    border-radius: 0px;
  }

  .img {
    height: 21.3rem;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
  }

  .content {
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
  }
}
