.title {
  --id: 1;
  font-size: 2.13em;
  line-height: 1.125;
  margin-bottom: 0.93rem;
  width: min(100%, 38.2rem);
  font-weight: 500;
  --fluid-lock: width;
}

@media (min-width: 768px) {
  .title {
    font-size: 3.2em;
    margin-bottom: 0.53rem;
    width: 38.2rem;
  }
}

@media (min-width: 1200px) {
  .title {
    margin-bottom: 0.73rem;
  }
}
