.homepage {
  --id: 1; 

  
}


.card-grid
{
    padding-top: 8rem;
    padding-bottom: 8rem;
    display: grid;
    row-gap: 1.6rem;
}


@media(min-width:768px)
{
 .card-grid 
 {
  padding-top: 8rem;
  padding-bottom: 8rem;
 }
}


.series
{
    padding-bottom: 8rem;
    text-align: center;
}

.series .list 
{
  list-style: none;
  padding-left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 5.3rem;
}

.cta
 {
    background-color: var(--peach);
    padding: 4.26rem 1.6rem;
    border-radius: 1rem;
    color:white;
    text-align: center;
    font-size: 1rem;
    background-image: url('/img/shared/desktop/bg-pattern-call-to-action.svg');
    background-position: top -7rem right -20rem;
    background-repeat: no-repeat;

    /* Location-specific: */
    width: 21.8rem;
    margin: 0 auto;
    margin-bottom: -11rem;
    position: relative;
    z-index: 99;
 }

 .cta .content 
 {

  display: flex;
  flex-direction: column;
  align-items: center;
 }

 .cta .title
 {
  font-size: 2em;
  line-height: 1.125;
  margin-bottom: .4rem;
  width: 15rem;
 }

 .cta .body 
 {
  line-height: 1.66;
  margin-bottom: 2rem;
  width: 100%;
 }

 .cta .btn 
 {
  margin: 0 auto;
 }


 @media(min-width:768px)
 {
  .cta {
    width: 46rem;
    margin-bottom: -5rem;
  }

  .cta .title 
  {
    font-size: 2.66em;
  }

  .cta .body 
  {
    font-size: 1.06em;
    width: 30rem;
  }
 }
