.homepage {
  --id: 1; 

  
}

.hero 
{
  width: 46rem;
}


.card-grid
{
    padding-top: 8rem;
    padding-bottom: 8rem;
    display: grid;
    row-gap: 1.6rem;
}
.card 
{
  height: 100%;
}

@media(min-width:768px)
{
 .card-grid 
 {
  padding-top: 8rem;
  padding-bottom: 8rem;

  grid-template-rows: 13.33rem 13.33rem;
 }
}

@media(min-width:1200px)
{
  .card-grid 
  {
    grid-template-areas: 
      "primary secondary"
      "primary terciary"
    ;
    grid-template-columns: 50% 50%;
    grid-template-rows: 20.5rem 20.5rem;
    column-gap: 2rem;
    padding-top: 10.66rem;
    padding-bottom: 10.66rem;
  }

  .card-grid .primary 
  {
    grid-area: primary;
  }

  .card-grid .secondary 
  {
    grid-area: secondary;
  }

  .card-grid .terciary 
  {
    grid-area: terciary;
  }


}


.series
{
    padding-bottom: 8rem;
    text-align: center;
}

.series .list 
{
  list-style: none;
  padding-left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 5.3rem;
}

@media(min-width:1200px)
{
  .series .list 
  {
    flex-direction: row;
    column-gap: 1.9rem;
  }

  .series 
  {
    background-image: url("/img/shared/desktop/bg-pattern-hero-home.svg");
    background-position: bottom right;
  }
}
.cta
 {
    background-color: var(--peach);
    padding: 4.26rem 1.6rem;
    border-radius: 1rem;
    color:white;
    text-align: center;
    font-size: 1rem;
    background-image: url('/img/shared/desktop/bg-pattern-call-to-action.svg');
    background-position: top -7rem right -20rem;
    background-repeat: no-repeat;

    /* Location-specific: */
    width: min(21.8rem 100%);
    margin: 0 auto;
    margin-bottom: -11rem;
    position: relative;
    z-index: 99;
 }

 .cta .content 
 {
  display: flex;
  flex-direction: column;
  align-items: center;
 }

 .cta .title
 {
  font-size: 2em;
  line-height: 1.125;
  margin-bottom: .4rem;
  width: 15rem;
 }

 .cta .body 
 {
  line-height: 1.66;
  margin-bottom: 2rem;
  width: 100%;
 }

 .cta .btn 
 {
  margin: 0 auto;
 }


 @media(min-width:768px)
 {
  .cta {
    width: 46rem;
    margin-bottom: -5rem;
  }

  .cta .title 
  {
    font-size: 2.66em;
    width: 18.6rem;
  }

  .cta .body 
  {
    font-size: 1.06em;
    width: 30rem;
  }
 }
