.homepage {
  --id: 1; 

  
}


.card-grid
{
    padding-top: 8rem;
    padding-bottom: 8rem;
    display: grid;
    row-gap: 1.6rem;
}


.series
{
    
}

.cta
 {
    background-color: var(--peach);
    margin-bottom: 12.6rem;
 }